
.allAccount_table, .allDepartment_table, .punchLog_table, 
.allTimeRule_table, .allGroup_table, .specialDate_table{
  text-align:center;
  margin-left:auto; 
  margin-right:auto;
  font-size:30px;
  word-break:break-all;
}
.punchLogWarn_table, .applyLeave_table{
  text-align:center;
  margin-left:auto; 
  margin-right:auto;
  font-size:24px;
  word-break:break-all;
}
.applyLeave_table > tbody > tr > td{
  padding: 12px 6px;
  vertical-align: middle;
}
.container{
  max-width: 1300px;
}
.btn{
  margin: 3px;
}

#groupList td[name='groupAuthority']{
  text-align:left !important;
}

.template, .newRestType{
  display:none;
}

#rePunchBtn{
  display: none;
  position: relative;
  left: 5px;
}


input[name='punchOption']{
  zoom:200%;
}

.forRadio{
  font-size:30px;
}

.forChkBox{
  font-size:20px;
  margin: auto 10px;
}
.forChkBox > [type='checkbox']{
  zoom: 125%;
}

tr[name='groupRow'] td, tr[name='addGroupRow'] td{
  vertical-align: middle;
}

select, input, ul[group='table']{
  margin: 5px;
}





